
.initiative-tracker-view{
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-areas: 
        'tracker tracker tracker'
        'party-bar tracker-buttons enemy-bar'
        'party-bar info enemy-bar'
    ;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15%  10% 75%;
    column-gap: 10px;
    row-gap: 10px;
}

.tracker-pos{
    grid-area: tracker;
    height: 100%;
    border: 3px solid $color-background;
}

.tracker-buttons-pos{
    grid-area: tracker-buttons;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    border: 3px solid $color-background;
}

.party-bar-pos{
    grid-area: party-bar;
    height: 100%;
    border: 3px solid $color-background;
}

.enemy-bar-pos{
    grid-area: enemy-bar;
    height: 100%;
    border: 3px solid $color-background;
}

.content-pos{
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 3px solid $color-background;
}

.context-display{
    width: 100%;
    height: 100%;
}