.initiative-tracker-view{
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-areas: 
        'tracker tracker tracker'
        'party-bar info enemy-bar'
        'party-bar info enemy-bar'
        'party-bar info enemy-bar'
        'party-bar info enemy-bar'
    ;

    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(5, 20%);
}

.tracker-pos{
    grid-area: tracker;
}

.party-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.party-bar-pos{
    grid-area: party-bar;
    justify-content: end;
}

.enemy-bar-pos{
    grid-area: enemy-bar;
    justify-content: start;
}

.content-pos{
    grid-area: info;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.context-display{
    width: 100%;
    height: 100%;
}