//font-family: 'Bebas Neue', cursive;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

//font-family: 'Lato', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100&display=swap");

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    margin: 0;
    border: none;
    border-radius: 0%;
    background-color: $color-button-lightgray;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lato';
    cursor: pointer;

    &:hover{
        color: $color-highlight;
    }
    &:focus{
    
        box-shadow: none;
    }
}