
.party-container{
    height: 100%;

}

.partybar-buttons{
    background-color: $color-background;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.partybar-items{
    height: 90%;
    overflow-y: scroll;
}

.partybar-item{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-maroon;

    .partybar-item-header{
        background-color: $color-maroon;
        color: $color-text-primary;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}