$color-background: #36393f;
$color-background-dark:#474747;
$color-text-primary: #FAF8FF;
$color-text-muted: #36393F;
$color-highlight: #DCA11D;
$color-maroon: #a82315;
$color-parchment: #FCF5E5;

$color-button-lightgray: #65686F