
body{
    margin: 0;
    background-color: $color-background-dark;
    color: $color-text-primary;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.text-error{
    font-family: 'roboto';
    color: $color-text-error;
}