
.container {
    width: 90%;
    margin: 3rem auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    &.reversed{
        flex-direction: row-reverse;
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
    &.reversed{
        flex-direction: column-reverse;
    }
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}
